language: clojure
jdk:
  - oraclejdk8
sudo: required
services:
  - docker
before_install:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" tutum.co
script:
  - mv "$(lein uberjar | sed -n 's/^Created \(.*standalone\.jar\)/\1/p')" app-standalone.jar
  - docker build -t linkedin-parser .
  - docker tag linkedin-parser tutum.co/filemon/linkedin-parser:latest
  - docker push tutum.co/filemon/linkedin-parser:latest